  <div class="itemsList">
    <ul>
      <li ng-repeat="item in $ctrl.items">
        <div class="title">{{item.name}}</div>
        <div class="description" ng-if="item.description">{{item.description}} </div>
        <div class="price" ng-if="$ctrl.hasTwoSizes({index: $index})">
          <div class="label">{{item.large_portion_name}}: <span class="price">${{item.price_large}}</span></div>
          <div>{{item.small_portion_name}}: <span class="price">${{item.price_small}}</span></div>
        </div>
        <div class="label" ng-if="!($ctrl.hasTwoSizes({index: $index}))">
          Price: <span class="price">${{item.price_large}}</span>
        </div>
      </li>
    </ul>
  </div>
